.app-component{
    text-align: center;
}
.top-bar{
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    height: 7vw;
    box-shadow: 0px 2px 20px 0px black;
}
.tree-image{
    display: inline;
    width: 6vw;
    height: 6vw;
    margin-right: 1vw;
}
.save-image{
    display: inline;
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
}
.search-image{
    display: inline;
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
}
.home-image{
    margin-left: -5vw;
    margin-top: 1vw;
    display: inline;
    width: 4vw;
    height: 4vw;
}
.account-image{
    margin-left: 1vw;
    margin-top: 1vw;
    margin-right: 2vw;
    display: inline;
    width: 4vw;
    height: 4vw;
}
.Nav-bar{
    display: inline
}
.unordered-list{
    display: inline;
    list-style: none;
}
.listitem{
    font-size: 1vw;
    font-family: 'Bubbler One', sans-serif;
    display: inline;
}
.app-header{
    display: inline;
    font-size: 4vw;
    color: rgba(255, 107, 0, 1);
    font-family: 'Amatic SC', cursive;
    margin-right: 62vw;
}
.input-component{
    margin-top: 8vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 1vw;
    padding-top: .5vw;
    margin-bottom: 1vw;
    border: 3px solid white;
    box-shadow: 0px 4px 10px 0px black;
}
.graph-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bar-graph{
    height: 25vw;
    width: 48vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255,1);
    margin-bottom: 2vw;
    box-shadow: 0px 4px 10px 0px black;
}
.doughnut-graph{
    height: 25vw;
    width: 48vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255,1);
    margin-bottom: 2vw;
    box-shadow: 0px 4px 10px 0px black;
}
.downArrow{
    height: 9vw;
    width: 9vw;
    padding-left: 25vw;
    padding-right: 25vw;
}
.line-graph{
    height: 40vw;
    width: 75vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255,1);
    box-shadow: 0px 1px 5px 0px black;
}
.pick-an-input{
    color: rgba(255, 107, 0, 1);
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.5vw;
    margin: 0 auto;
}
.sign-in-component{
    margin-top: 3vw;
}
