.InputCategory-div{}
.Sections{}
.Utilities{
    color: rgba(255, 107, 0, 1);
    font-family: 'Bubbler One', sans-serif;
    font-size: 2vw;
    display: inline;
    margin-right: 1vw;
    margin-left: 1vw;
}
.Transportation{
    color: rgba(255, 107, 0, 1);
    font-family: 'Bubbler One', sans-serif;
    font-size: 2vw;
    display: inline;
    margin-right: 1vw;
    margin-left: 1vw;
}
.Food{
    color: rgba(255, 107, 0, 1);
    font-family: 'Bubbler One', sans-serif;
    font-size: 2vw;
    display: inline;
    margin-right: 1vw;
    margin-left: 1vw;
}
.Inputs{
    color: rgba(255, 107, 0, 1);
    font-family: 'Patrick Hand SC', cursive;
    font-size: 2vw;
    margin: 0 auto;
}
