.search-page{
    margin-top: 7vw;
}
.search-input-container{
    flex-wrap: wrap;
    justify-content: space-around;
}
.search-header{
    font-size: 3vw;
    color: rgba(255, 107, 0, 1);
    font-family: 'Patrick Hand SC', cursive;
}
.search-input{
    width: 10vw;
    height: 3vw;
    font-size: 2vw;
    display: inline;
    color: rgba(255, 107, 0, 1);
}
.search-button{
    display: inline;
    height: 3vw;
    width: 3vw;
    margin-left: 1vw;
}
.search-results{
    margin-top: 2vw;
}
.search-results-name{
    font-size: 2vw;
    color: rgba(255, 107, 0, 1);
    font-family: 'Patrick Hand SC', cursive;
}
.searchGraph{
    margin-left: 17.5vw;
    width: 60vw;
    height: 30vw;
    background-color: white;
}
