.app-component{
    text-align: center;
}
.app-header{}
.input-component{}
.graph-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bar-graph{
    width: 40vw;
    margin: 0 auto;
}
.doughnut-graph{
    width: 40vw;
    margin: 0 auto;
}
.line-graph{
    width: 100vw;
    margin: 0 auto;
}
