
body{
    text-align: center;
    background-color: rgb(173, 255, 166);
    color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
